In [1]:
# Import dependencies
from sklearn import tree
import pandas as pd
import os

In [2]:
# Read the CSV
heart = pd.read_csv("cleaned_cardio.csv")
heart.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
0,50.0,2,66.0,136.0,110,80,1,1,0,0,1,0,21.948577
1,55.0,1,61.0,187.0,140,90,3,1,0,0,1,1,35.329481
2,52.0,1,65.0,141.0,130,70,3,1,0,0,0,1,23.461065
3,48.0,2,67.0,180.0,150,100,1,1,0,0,1,1,28.188906
4,48.0,1,61.0,123.0,100,60,1,1,0,0,0,0,23.238108

In [16]:
target = heart["cardio"]
target_names = ["no-attack", "attack"]

In [17]:
data = heart.drop("cardio", axis=1)
feature_names = data.columns
data.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,BMI
0,50.0,2,66.0,136.0,110,80,1,1,0,0,1,21.948577
1,55.0,1,61.0,187.0,140,90,3,1,0,0,1,35.329481
2,52.0,1,65.0,141.0,130,70,3,1,0,0,0,23.461065
3,48.0,2,67.0,180.0,150,100,1,1,0,0,1,28.188906
4,48.0,1,61.0,123.0,100,60,1,1,0,0,0,23.238108

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [19]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6399836753731343

In [30]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=300)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7118703358208955

In [31]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.18807083044804943, 'ap_hi'),
 (0.18550430894079303, 'BMI'),
 (0.17103886732609616, 'age'),
 (0.14601637492078703, 'weight'),
 (0.09681057823761821, 'height'),
 (0.08893144762641765, 'ap_lo'),
 (0.0427351741918649, 'cholesterol'),
 (0.0222364903895279, 'gender'),
 (0.02091887093797275, 'gluc'),
 (0.018121405618190953, 'active'),
 (0.010772136341879466, 'smoke'),
 (0.00884351502080245, 'alco')]